


 <div class="container">
    <div class="row height">
        <div class="col-4">
           
        </div>
        <div class="col-4">
            <h3> Webpush notifications</h3>
         </div>
         <div class="col-4">
            
         </div>
    </div>
    <div class="row">
      <div class="col-6">
        <div class="secondTable">
            <p-table [value]="listOfAllUsers" [(selection)]="selectedlistOfUsers" dataKey="user" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                 
                        <th>User</th>
                        <th>Device Name</th>
                        <th>Token</th>
                        <!-- <th>Device Id</th> -->
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product"></p-tableCheckbox>
                        </td>
                        <td>{{product.user}}</td>
                        <td >
                          <tr *ngFor="let device of product.device">{{device.deviceName}}</tr>
                        </td>
                  <td >
                          <tr *ngFor="let device of product.device">{{device.deviceToken}}</tr>
                        </td> 
                    </tr>
                </ng-template>
            </p-table>
        </div>
        
      </div>
     
      <div class="col-6">
        <div class="container">
            <div class="row">
              <div class="col-sm">
                <label ><h4>Notification title</h4> </label>
              </div>
              <div class="col-sm">
                <input  id="title"  [(ngModel)]="notificationTitle" placeholder="Title">
              </div>
            </div>
        
            <div class="row">
                <div class="col-sm">
                    <label ><h4>Notification body</h4> </label>
                </div>
                <div class="col-sm">
                    <input  id="body" [(ngModel)]="notificationBody"  placeholder="Body">
                </div>
              </div>
        
              <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                   

                </div>
                <div class="col-4">
                    <button type="submit" class="btn btn-primary" (click)="OnSendNotification()">Send</button>
                </div>
              </div>
        
          </div>
        
      </div>
    </div>
  </div>
        

                    
 







